body {
  background-color: #2D3047;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  width: 80%;
  margin: auto;
}
header {
  background-color: #1B998B;
  color: black;
}
h1 {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  
}
footer {
  background-color: #FF9B71;
  color: black;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main img {
  width: 90%;
  height: auto;
  background: black;
  animation: fade 2s;
  padding: .25rem;
}
.hero {
  display: inline;
  width: 100%;
  height: auto;
}

/* Slider */

.slidecontainer {
    width: 50%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  .filter {
    display: flex;
    flex-direction: row;
  }

#smash-pass {
  display: none;
}

  /* Pop up */

/* Style for the pop-up overlay */
.popup {
  display: none;
  /* Hide the pop-up by default */
  position: fixed;
  z-index: 1000;
  /* Ensure pop-up is on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  display: flex;
  /* Use flexbox for centering */
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
}

/* Style for the pop-up content box */
.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px;
  text-align: center;
}

/* Style for the close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* Hover effect for the close button */
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* pop up end */